{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Venues</h1>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for venue in venues %}
                    <tr>
                        <td><a href="{% url 'show_venue' venue.id %}">{{ venue }}</a></td>
                        <td>{{ venue.address }}, {{ venue.zip_code }}</td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <a href="#" role="button" class="btn btn-primary btn-sm">Edit</a>
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>

                            </form>

                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
{% endblock %}