{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}update venue{% endblock %}

{% block content %}
    <div class="container">
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-capitalize">
                <li class="breadcrumb-item"><a href="{% url 'list_venue' %}">Venue</a></li>
                <li class="breadcrumb-item active" aria-current="page">update venue</li>
            </ol>
        </nav>
    <h1 class="text-capitalize">update venue</h1>

        <form action="" method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>

            <div class="form-group pb-3">
                <button type="submit" class="btn btn-success text-capitalize">update</button>
            </div>
        </form>

    </div>
{% endblock %}